@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    height: 80vh;
    color: white;
}

.container-center {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-form {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.search-input {
    background-color: rgb(0, 0, 0);
    border: none;
    border-bottom: #FDD020 solid 2px;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.search-input:focus {
    outline: none;
}

.input-submit {
    font-size: 2rem;
    border-style: none;
    border: solid 2px;
    border-radius: 0.64rem;
    border-color: #FDD020;
    background-color: rgb(0, 0, 0);
    margin-left: 1.5rem;
    color: #ffffff;
}

.input-submit:hover {
    border-style: none;
    border: solid 2px;
    border-radius: 0.64rem;
    background-color: #FDD020;
    color: rgb(0, 0, 0);
}

.input-submit:focus {
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 2rem;
}

.city-name {
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 2rem;
}

.city-weather {
    width: 60%;
    text-align: center;
    color: #FDD020;
}

.forecast-title {
    font-size: 2.5rem;
}

.forecast-container {
    margin-top: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 140%;
}

.forecast-dates {
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
}


.autocomplete,
.autocomplete:active {
    outline: none;
}

.forecast-temps {
    color: #FDD020;
}

.auto-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.autocomplete {
    border: none;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    background-color: rgb(0, 0, 0);
    margin-top: 1.5rem;
}

.yellowed {
    color: rgba(186, 169, 72, 0.872);
    font-size: 1rem;
    margin-top: 1.5rem;
}